<!DOCTYPE html>
<html>
<head>
    <title>charts</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media=                                                                    "all" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/drawCharts.js"></script>

</head>
<body>
    <div class="container">
		<div class="header">
			<div class="header-top">
				<div class="clearfix"> </div>
			</div>
			<div class="header-bottom">
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li class="active" ><a href="../home" ><span></span>主页</a> </li>
						<li><a href="" data-hover="EVENTS" ><span></span>统计特性</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="banner">
            <div class="banner-top"></div>
            <div class="banner-bottom">
                    <div class="chart img-responsive line-in" id="bar">
                        <label><input type="checkbox"> Sort values</label>
                    </div>
                    <div class="chart img-responsive line-in" id="pie"></div>
            </div>

        </div>
    </div>
</body>
</html>
