<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<script src="/static/js/jquery.min.js"></script>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<meta name="keywords" content="Inspired Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,-->
<!--Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/static/js/d3.min.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript" src="/static/js/plot.js"></script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
</script>
</head>
<body>

<input type="button" class="btn dropdown-toggle" id="settings_btn" data-toggle="dropdown" value="设置">
<ul class="dropdown-menu dropdown-menu-right dropdown-animation">
    <li>
    <form class="settings-form"  method="post">
        <p>
            <label for="id_clustering_method_0">clustering_method:</label>
            <ul id="id_clustering_method">
                <li>
                    <label for="id_clustering_method_0">
                    <input class="clustering_method" id="id_clustering_method_0" name="clustering_method" type="radio" value="modularity" checked="true"/> modularity
                    </label>
                </li>
                <li>
                    <label for="id_clustering_method_1">
                        <input class="clustering_method" id="id_clustering_method_1" name="clustering_method" type="radio" value="ip_seg" required /> ip_seg
                    </label>
                </li>
            </ul>
        </p>
        <!--<ul class="errorlist"><li>This field is required.</li></ul>-->
        <p>
            <label for="id_choose_ip_seg_0">choose_ip_seg:</label>
            <ul id="id_choose_ip_seg">
                <li>
                    <label for="id_choose_ip_seg_0">
                    <input class="choose_ip_seg" id="id_choose_ip_seg_0" name="choose_ip_seg" type="radio" value="1" checked="true"/> 1
                    </label>
                </li>
                <li>
                    <label for="id_choose_ip_seg_1">
                    <input class="choose_ip_seg" id="id_choose_ip_seg_1" name="choose_ip_seg" type="radio" value="2" required /> 2
                    </label>
                </li>
                <li>
                    <label for="id_choose_ip_seg_2">
                    <input class="choose_ip_seg" id="id_choose_ip_seg_2" name="choose_ip_seg" type="radio" value="3" required /> 3
                    </label>
                </li>
                <li>
                    <label for="id_choose_ip_seg_3">
                    <input class="choose_ip_seg" id="id_choose_ip_seg_3" name="choose_ip_seg" type="radio" value="4" required /> 4
                    </label>
                </li>
            </ul>
        </p>
        <!--<ul class="errorlist"><li>This field is required.</li></ul>-->

    <!--<input type="submit" class="btn btn-group btn-dark" id="settings_submit_btn" value="确定">-->
        <input type="button" class="btn btn-group btn-dark" id="settings_submit_btn" value="确定">
    </form>
    </li>
</ul>
	</body>
</html>
